/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__MkJga {
  border: none;
}
.form-field_formfield__MkJga:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__MkJga:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__gr6NE {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__SU3y5 {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Navbar {
display: flex;
margin-top: 50px;
justify-content: space-between;
align-items: center;
}
.p-Home.Div2 {
text-align: center;
background-clip: padding-box;
-webkit-background-clip: padding-box;
display: ;
align-self: center;
}
.p-Home.Flex6 {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
margin-right: 35px;
}
.p-Home.Flex8 {
display: flex;
justify-content: center;
align-items: flex-start;
color: #000000;
margin-top: 120px;
}
.p-Home.Flex9 {
display: flex;
margin-right: 60px;
align-items: flex-start;
}
.p-Home.Div5 {
;
}
.p-Home.Flex10 {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 16px;
}
.p-Home.Flex11 {
display: flex;
height: ;
align-items: flex-start;
justify-content: center;
align-content: flex-start;
flex-wrap: wrap;
}
.p-Home.Flex12 {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: nowrap;
align-content: stretch;
align-self: flex-start;
margin-bottom: 50px;
}
.p-Home.Flex14 {
display: flex;
align-items: center;
justify-content: center;
margin-top: 29px;
}
.p-Home.Flex18 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex19 {
display: flex;
margin-top: 70px;
justify-content: space-around;
flex-wrap: wrap;
}
.p-Home.Flex20 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex21 {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
align-content: stretch;
flex-direction: column-reverse;
}
.p-Home.Flex22 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex23 {
display: flex;
justify-content: space-between;
margin-top: 90px;
align-items: center;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex32 {
display: flex;
}
.p-Home.Flex33 {
display: flex;
align-items: center;
justify-content: space-around;
background-color: #ffffff;
color: #000000;
}
.p-Home.Flex34 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex35 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex38 {
display: flex;
justify-content: space-around;
background-color: #000000;
outline-width: ;
height: 500px;
margin-top: 125px;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex41 {
display: flex;
flex-direction: column-reverse;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column-reverse;
}
.p-Home.Flex44 {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
background-color: #000000;
height: 256px;
margin-top: 125px;
}
.p-Home.Flex45 {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 30px;
}
.p-Home.Flex46 {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 15px;
}
.p-Home.TextBox9 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
color: #c56b11ff;
align-self: center;
text-align: center;
}
.p-Home.TextBox2 {
align-self: center;
text-align: right;
margin-left: 25px;
font-size: 35px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox3 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-right: 15px;
}
.p-Home.Button2 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #0069ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
font-family: IBM Plex Sans;
outline-color: transparent;
}
.p-Home.Image1 {
width: 350px;
margin-left: 33px;
margin-bottom: 2px;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox5 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 50px;
color: #a29811;
}
.p-Home.Div6 {
visibility: hidden;
}
.p-Home.TextBox7 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 34px;
}
.p-Home.TextBox8 {
font-family: IBM Plex Sans;
margin-top: 12px;
font-size: 17px;
}
.p-Home.Button3 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
}
.p-Home.Link2 {
font-family: IBM Plex Sans;
margin-left: 18px;
}
.p-Home.Trust {
font-family: IBM Plex Sans;
margin-top: 40px;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image2 {
;
}
.p-Home.Image3 {
;
}
.p-Home.Image4 {
;
}
.p-Home.Image5 {
;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 40px;
}
.p-Home.TextBox13 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 40px;
}
.p-Home.Image8 {
padding-bottom: 20px;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-Home.TextBox21 {
margin-top: 10px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox22 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image6 {
margin-bottom: ;
padding-bottom: 20px;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-Home.TextBox15 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox16 {
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
}
.p-Home.Image7 {
padding-bottom: 20px;
}
.p-Home.TextBox17 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-Home.TextBox18 {
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 10px;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
}
.p-Home.Div17 {
visibility: hidden;
}
.p-Home.Div18 {
visibility: hidden;
}
.p-Home.Button5 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #f7650e;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
width: 196px;
height: 58px;
font-family: IBM Plex Sans;
}
.p-Home.Div19 {
visibility: hidden;
}
.p-Home.TextBox23 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
color: #c56b11ff;
}
.p-Home.TextBox25 {
margin-top: 30px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 40px;
}
.p-Home.Div24 {
visibility: hidden;
}
.p-Home.Image11 {
width: 300px;
padding-bottom: 20px;
}
.p-Home.TextBox35 {
;
}
.p-Home.TextBox36 {
;
}
.p-Home.TextBox37 {
;
}
.p-Home.TextBox38 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
color: #000000;
}
.p-Home.Image10 {
width: 300px;
padding-bottom: 20px;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
margin-top: ;
background-color: #ffffff;
color: #000000;
}
.p-Home.TextBox39 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
color: #ffffff;
}
.p-Home.Accordion1 {
margin-top: 30px;
font-family: IBM Plex Sans;
font-weight: normal;
}
.p-Home.Accordion2 {
;
}
.p-Home.TextBox40 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.Accordion4 {
;
}
.p-Home.Accordion3 {
margin-top: 32px;
}
.p-Home.TextBox41 {
font-family: IBM Plex Sans;
color: #ffffff;
font-weight: 700;
font-size: 50px;
}
.p-Home.Button7 {
color: #000000;
background-color: #06fd0d;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #ff0000;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
margin-top: 20px;
font-family: IBM Plex Sans;
width: 200px;
}
.p-Home.TextBox42 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #fff8f8;
font-size: 20px;
margin-right: 50px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum, "tnum";
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
}
.p-Home.TextBox44 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-right: 22px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum, "tnum";
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex12.bpt {
flex-wrap: wrap;
	}
	.p-Home.Image3.bpt {
width: ;
	}
}
